<div class="header">
    <h2>
      Bancos
      <small>Aqui podras administrar los diferentes Bancos</small>
    </h2>
    <div class="container-fluid">
      <div class="col-xs-12">
        <div class="body">
          <button type="button" class="btn bg-red btn-block btn-lg waves-effect" data-toggle="modal"
            data-target="#form-estado">Agregar Banco</button>
        </div>
        <div class="body table-responsive">
          <!-- Basic Table -->
          <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="card">
                <div class="header">
                  <h2>
                    Estados                 
                  </h2>               
                <div class="body table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>#</th>
                        <th>Codigo</th>
                        <th>Banco</th>
                        <th>Pais</th>
                        <th>Editar/Eliminar</th>                      
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>1236455</td>
                        <td>Banco Agricola</td>
                        <td>Guatemala</td>
                        <td>
                          <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float" data-toggle="modal" data-target="#form-estado">
                          <i class="material-icons">save</i>
                          </button>
                          <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float" data-type="confirm">
                            <i class="material-icons">content_cut</i>
                          </button>
                        </td>                    
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>6541223655</td>
                        <td>Banco Cuscatlan</td>
                        <td>El Salvador</td>
                        <td>
                          <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float" data-toggle="modal"
                            data-target="#form-estado">
                            <i class="material-icons">save</i>
                            </button>
                            <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float">
                              <i class="material-icons">content_cut</i>
                            </button>
                        </td>                    
                      </tr>                                       
                    </tbody>
                  </table>
                </div>
            </div>
            </div>
          </div>
          <!-- #END# Basic Table -->
        </div>
      </div>
    </div>
  </div>
  
  <!-- Small Size -->
  <div class="modal fade" id="form-estado" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-sm" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h2 id="form-title">Agregar Banco</h2>
            </div>
            <form id="developer_cu_form" class="">
              <div class="modal-body">
                <div class="input-group">
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="nombre del banco">
                  </div>
                  <div class="form-line">
                    <input type="text" class="form-control" placeholder="codigo">
                  </div>
                </div>
              </div>
            </form>       
              <div class="modal-footer">
                  <button type="button" class="btn btn-link waves-effect">Guardar</button>
                  <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cerrar</button>
              </div>
          </div>
      </div>
  </div>
