<div class="header">
    <h2>Devoluciones</h2>
    <br />
    <div class="row">
        <div class="col-xs-2"></div>
        <div class="col-xs-3">
            <select class="form-control show-tick" tabindex="-98" placeholder="xd">
                <option value="">*Seleccione Año*</option>
                <option value="10">2016</option>
                <option value="20">2015</option>
                <option value="30">2017</option>
                <option value="40">2018</option>
                <option value="50">2019</option>
            </select>
        </div>
        <div class="col-xs-3">
            <select class="form-control show-tick" tabindex="-98" placeholder="xd">
                <option value="">*Seleccione Mes*</option>
                <option value="10">Enero</option>
                <option value="20">Febrero</option>
                <option value="30">Marzo</option>
                <option value="40">Abril</option>
                <option value="50">Mayo</option>
            </select>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-xs-2"></div>
        <div class="col-xs-8">
            <div class="body table-responsive">
                <div class="body">
                    <div class="table-responsive">
                        <table class="table table-hover dashboard-task-infos">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Cantidad productos</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Playstation 5</td>
                                    <td>200</td>
                                    <td>$3,000</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Samsung S21</td>
                                    <td>200</td>
                                    <td>$3,000</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Adaptador HDMI a VGA</td>
                                    <td>200</td>
                                    <td>$3,000</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Nike</td>
                                    <td>200</td>
                                    <td>$3,000</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-1"></div>
        <div class="col-xs-6">
            <div class="body">
                <div id="donut_chart" class="graph">
                    <svg height="342" version="1.1" width="779" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" style="overflow: hidden; position: relative;">
                        <desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc>
                        <defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
                        <path fill="none" stroke="#e91e63"
                            d="M389.5,282.5A109,109,0,0,0,498.4999996638166,173.50856083997223" stroke-width="2"
                            opacity="0" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                        <path fill="#e91e63" stroke="#ffffff"
                            d="M389.5,285.5A112,112,0,0,0,501.49999965456385,173.508796459421L547.9999995111461,173.51244856087703A158.5,158.5,0,0,1,389.5,332Z"
                            stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <path fill="none" stroke="#00bcd4"
                            d="M498.4999996638166,173.50856083997223A109,109,0,0,0,303.12725385519667,107.01128875210951"
                            stroke-width="2" opacity="0"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                        <path fill="#00bcd4" stroke="#ffffff"
                            d="M501.49999965456385,173.508796459421A112,112,0,0,0,300.75002230992686,105.18132422235105L263.9029333582447,76.81687401109501A158.5,158.5,0,0,1,547.9999995111461,173.51244856087703Z"
                            stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <path fill="none" stroke="#ff9800"
                            d="M303.12725385519667,107.01128875210951A109,109,0,0,0,323.0045052575654,259.8675238672434"
                            stroke-width="2" opacity="1"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path>
                        <path fill="#ff9800" stroke="#ffffff"
                            d="M300.75002230992686,105.18132422235105A112,112,0,0,0,321.1743540261223,262.2446116801033L289.75675788634817,303.0512858008651A163.5,163.5,0,0,1,259.94088078279503,73.76693312816425Z"
                            stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
                        <path fill="none" stroke="#009688"
                            d="M323.0045052575654,259.8675238672434A109,109,0,0,0,389.46575664063926,282.49999462106564"
                            stroke-width="2" opacity="0"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
                        <path fill="#009688" stroke="#ffffff"
                            d="M321.1743540261223,262.2446116801033A112,112,0,0,0,389.4648141628587,285.4999944730216L389.4502057572598,331.9999921783386A158.5,158.5,0,0,1,292.80700993875337,299.0894727794319Z"
                            stroke-width="3" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path><text
                            x="389.5" y="163.5" text-anchor="middle" font-family="&quot;Arial&quot;" font-size="15px"
                            stroke="none" fill="#000000"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 15px; font-weight: 800;"
                            font-weight="800" transform="matrix(2.4848,0,0,2.4848,-578.3485,-259.1061)"
                            stroke-width="0.4024390243902439">
                            <tspan dy="6" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Playstation 5</tspan>
                        </text><text x="389.5" y="183.5" text-anchor="middle" font-family="&quot;Arial&quot;"
                            font-size="14px" stroke="none" fill="#000000"
                            style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 14px;"
                            transform="matrix(2.2778,0,0,2.2778,-497.6944,-224.25)" stroke-width="0.43902439024390244">
                            <tspan dy="5" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">25%</tspan>
                        </text>
                    </svg>
                </div>
            </div>
        </div>
    </div>

</div>