<div class="header">
  <div class="container-fluid">
    <div class="col-xs-12">
      <div class="body table-responsive">
        <div class="body">
            <button type="button" class="btn bg-red btn-block btn-lg waves-effect" data-toggle="modal" data-target="#smallModal">Agregar pais</button>
        </div>
        <!-- Basic Table -->
        <div class="row clearfix">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="card">
              <div class="header">
                <h2>
                  Paises                 
                </h2>               
              <div class="body table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Pais</th>
                      <th>Editar/eliminar</th>                      
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>EL Salvador</td>
                      <td>
                        <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float">
                        <i class="material-icons">save</i>
                        </button>
                        <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float">
                          <i class="material-icons">content_cut</i>
                        </button>
                      </td>                    
                    </tr>
                    <tr>
                      <th scope="row">2</th>
                      <td>Honduras</td>
                      <td>
                        <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float">
                          <i class="material-icons">save</i>
                          </button>
                          <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float">
                            <i class="material-icons">content_cut</i>
                          </button>
                      </td>                    
                    </tr>                    
                    <tr>
                      <th scope="row">2</th>
                      <td>Costa Rica</td>
                      <td>
                        <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float">
                          <i class="material-icons">save</i>
                          </button>
                          <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float">
                            <i class="material-icons">content_cut</i>
                          </button>
                      </td>                    
                    </tr>                    
                    <tr>
                      <th scope="row">2</th>
                      <td>Panama</td>
                      <td>
                        <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float">
                          <i class="material-icons">save</i>
                          </button>
                          <button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float">
                            <i class="material-icons">content_cut</i>
                          </button>
                      </td>                    
                    </tr>                    
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- #END# Basic Table -->
      </div>
    </div>
  </div>
</div>

<!-- Small Size -->
<div class="modal fade" id="smallModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="smallModalLabel">Agregar Pais</h4>
            </div>
            <div class="form-line">
              <input type="text" class="form-control" placeholder="Pais">
            </div>          
            <div class="modal-footer">
                <button type="button" class="btn btn-link waves-effect">Guardad</button>
                <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

