<div class="header">
    <h2>
        Cotrol de Transacciones
        <small>Aqui podras visualizar los diferentes Transacciones del sistema</small>
    </h2>
    <div class="container-fluid">
        <div class="col-xs-12">
            <div class="body table-responsive">
                <!-- Basic Table -->
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h2>
                                    Transacciones
                                </h2>
                                <div class="body table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>Producto</th>
                                                <th>Usuario</th>
                                                <th>Cantidad</th>
                                                <th>Total</th>
                                                <th>Fecha</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">*</th>
                                                <td>Playstation 5(Digital Version)</td>
                                                <td>El Rubius</td>
                                                <td>2</td>
                                                <td>$1000.00</td>
                                                <td>05/03/2021</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">*</th>
                                                <td>Playstation 5(Digital Version)</td>
                                                <td>El Rubius</td>
                                                <td>2</td>
                                                <td>$1000.00</td>
                                                <td>05/03/2021</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">*</th>
                                                <td>Playstation 5(Digital Version)</td>
                                                <td>El Rubius</td>
                                                <td>2</td>
                                                <td>$1000.00</td>
                                                <td>05/03/2021</td>
                                            </tr>
                                            <tr>
                                                <th scope="row">*</th>
                                                <td>Playstation 5(Digital Version)</td>
                                                <td>El Rubius</td>
                                                <td>2</td>
                                                <td>$1000.00</td>
                                                <td>05/03/2021</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="col-xs-4"></div>
                                    <div class="col-xs-4">
                                        <nav>
                                            <ul class="pagination center">
                                                <li>
                                                    <a href="javascript:void(0);" class="waves-effect">
                                                        <i class="material-icons">chevron_left</i>
                                                    </a>
                                                </li>
                                                <li><a href="javascript:void(0);" class="waves-effect">1</a></li>
                                                <li><a href="javascript:void(0);" class="waves-effect">2</a></li>
                                                <li><a href="javascript:void(0);" class="waves-effect">3</a></li>
                                                <li><a href="javascript:void(0);" class="waves-effect">4</a></li>
                                                <li><a href="javascript:void(0);" class="waves-effect">5</a></li>
                                                <li>
                                                    <a href="javascript:void(0);" class="waves-effect">
                                                        <i class="material-icons">chevron_right</i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </nav>
                                    </div>
                                    <div class="col-xs-4"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- #END# Basic Table -->
                </div>
            </div>
        </div>
    </div>