<!-- <nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Logo</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a [routerLink]="['/registro']">Sass</a></li>
            <li><a [routerLink]="['/registro']">Components</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a [routerLink]="['/registro']">Sass</a></li>
    <li><a [routerLink]="['/registro']">Components</a></li>
</ul> -->
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->

<!-- Top Bar -->
<nav class="navbar">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#navbar-collapse" aria-expanded="false"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <a class="navbar-brand" href="./assets/index.html">ADMINB</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="pull-right">
                    <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                        <i class="material-icons">keyboard_arrow_down</i>
                    </a>
                    <ul class="dropdown-menu pull-right">
                        <li><a [routerLink]="['/registro']"><i class="material-icons">person</i>Perfil</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a [routerLink]="['/registro']"><i class="material-icons">shopping_cart</i>Ventas</a></li>
                        <li><a [routerLink]="['/registro']"><i class="material-icons">shopping_cart</i>COmpras</a></li>
                        <li><a [routerLink]="['/registro']"><i class="material-icons">input</i>Cerra Sesion</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- #Top Bar -->
<section>
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        <!-- User Info -->
        <div class="user-info">
            <div class="image">
                <img src="./assets/images/user.png" width="48" height="48" alt="User" />
            </div>
            <div class="info-container">
                <div class="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Usuario de Prueba
                </div>
                <div class="email">usuario.prueba@ejemplo.com</div>
                <div class="btn-group user-helper-dropdown">

                </div>
            </div>
        </div>
        <!-- #User Info -->
        <!-- Menu -->
        <div class="menu">
            <ul class="list">
                <li class="header">Menu de Navegacion</li>
                <li class="active">
                    <a [routerLink]="['/home']">
                        <i class="material-icons">home</i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0);" class="menu-toggle">
                        <i class="material-icons">swap_calls</i>
                        <span>Bitacora</span>
                    </a>
                    <ul class="ml-menu">
                        <li>
                            <a [routerLink]="['/registro']">Sesion</a>
                        </li>
                        <li>
                            <a [routerLink]="['/registro']">Acciones</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- #Menu -->
        <!-- Footer -->
        <div class="legal">
            <div class="copyright">
                &copy; 2020 - xD <a [routerLink]="['/registro']">CBN Solutions</a>.
            </div>
            <div class="version">
                <b>Version: </b> Alpha
            </div>
        </div>
        <!-- #Footer -->
    </aside>
</section>